
<div class="container">
    <div class=""> <!--trendingContainer-->
      <div class="">
        <div class="row">
            <div class="col-md-2" *ngFor="let repo of repos">
                        <div class="card repoCard" >
                            <div class="card-body">
                                <div class="card-title repoTitle">
                                    <a href="{{repo.html_url}}" >{{repo.name|titlecase}}</a>
                                </div>
                                <div class="card-text">
                                    <p *ngIf="repo.description">{{repo.description}}</p>
                                </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

