<footer class="footer">
    <div class="content has-text-centered">

        <div class="social">
          <i class="fa fa-github" aria-hidden="true" href="#"></i>
          <i class="fa fa-twitter" aria-hidden="true" href="#"></i>
          <i class="fa fa-linkedin" aria-hidden="true" href="#"></i>
          <i class="fa fa-reddit" aria-hidden="true" href="#"></i>
          <i class="fa fa-instagram" aria-hidden="true" href="#"></i>
          </div>
      <p>
        Git Search ©2022 | <a href="https://github.com/AtienoObwanda">Atieno Obwanda</a> 
      </p>
    </div>
  </footer>