<mat-toolbar class="header" color="primary">
    <div class="social">
      
        <i class="fa fa-github" aria-hidden="true" href="https://github.com/AtienoObwanda"></i>
        <i class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/atien_o"></i>
        <i class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/millicent-atieno/"></i>
        <i class="fa fa-reddit" aria-hidden="true" href="#"></i>
        <i class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/atien.o/"></i>
    </div>

</mat-toolbar>