img {
    border-radius: 50%;
    /* max-height: 250px;
    max-width: 250px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 100%;
  }
  .imgCard{
      align-items: center;
      justify-content: center;
  }
  .display{
      max-height: 400px!important;
  }
  