<div class="container">
    <div *ngIf= "user.login !== 'User not found'"> 
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="text-center" *ngIf="user.name"> {{user.name}}'s Git Profile</h1>
            
                <div class="row">
                    <!-- image -->
                    <div class="col">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                           <div class="card-body display" >
                            <img class="card-img" [src]="user.avatar_url" alt="My Image">
                               <!-- image -->
                           </div>
                        </div>
                    </div>
                    <!-- info -->
                    <div class="col">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            <div class="card-body display">
                                <p *ngIf="user.name"><span>Name:</span>&nbsp;&nbsp; {{user.name}}</p>
                                <p *ngIf="user.login"><span>Username:</span>&nbsp;&nbsp;{{user.login}}</p>
                                <p><span>Followers:</span>{{user.followers}}</p>
                                <p><span>Following:</span>{{user.following}}</p>
                                <p *ngIf="user.location"><span>Location:</span>&nbsp;&nbsp; {{user.location}}</p>
                                <p *ngIf="user.public_repos"><span>Public repositories:</span>&nbsp;&nbsp; {{user.public_repos}}</p>
                                <p *ngIf="user.bio"><span>Bio:</span>&nbsp;&nbsp; {{user.bio}}</p>
                                <p *ngIf="user.created_at"><span>Created on:</span>&nbsp;&nbsp; {{user.created_at|date}}</p>
                                <p class="text-center" style="color: brown;"><a href="{{user.html_url}}" style="color: brown;text-decoration:none">Git Profile</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            
            <!--REPOSITORIES-->
            <h1 class="text-center"> REPOSITORIES</h1>
            <app-repository [repos]="repos" ></app-repository>
            
            
            </div>
</div>

            <div *ngIf= "user.login === 'User not found'">
                <p>User not found... enter valid Username</p>
            </div>
</div>